body { 
	padding-top: 25px;
}

.col-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#ladderboard-container{
	padding-top: 25px;
}

.form{
	margin-top: 5px;
}

#login-label{
	 display: block;
}

#reg-laddername{
	margin-bottom: 5px;	
}

#redSpan{
	color: red;
}

.noselect {
  -webkit-touch-callout: none; 
  -webkit-user-select: none;   
  -khtml-user-select: none;  
  -moz-user-select: none;      
  -ms-user-select: none;     
  user-select: none;          
}