#redSpan{
	color:red;
}

#foooter{
	color: rgba(0,0,0,0.2);

}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}


